*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  background-color: darkgrey;
  font: 14px
}

.container-data {
  display: flex;
  justify-content: center;
}

.card{
  margin-top: 1rem;
  margin-left: .9rem;
  margin-right: .9rem;
  gap: 1rem;
  border-color: black;
  box-shadow: .2rem .2rem #4e4848;
}

.important-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.important-information .input {
  margin: 1rem;
}

@media (max-width: 822px) {

  .important-information {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
}

@media (min-width: 576px) {

  .container-data{
    display: flex;
    flex-flow: row wrap;
  }

  .container{
    display: flex;
    flex-flow: row wrap;
  }
}
